body{
	background-color: black;
	color: white;
	font-family: helvetica;
	font-size: 35px;
}
.Ü{
	color: red;
}
h2{
	color: red;
}
.Kreis{
	font-size: 35px;
	font-weight: 500;
	display: inline-block;
	height: 30px;
	width: 30px;
}
.Button{
	text-decoration: none;
	border: 8px white solid;
	border-radius: 20px;
	background-color: black;
	color: white;
	font-size: 40px; 
	font-weight: 500;
	height: 60px;
	width: 180px;
}
